<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="/css/main.css">
  
</head>
<body>
    <header class="main-header"> 
        <nav class="main-header-nav">
            <ul class="main-header-ul">
            <li class="main-header-li"><a href='/shop'>Shop</a></li>
            <li class="main-header-li"><a href='/product'>Product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/chart" method='P'>
            <label for="title"></label>
                <input type='number' name='title'>
                <button type='submit' >Add to Cart</button>
        </form>

    </main>
</body>
</html>